 html {
    box-sizing: border-box;
 }

*,
*::before,
*::after {
    box-sizing: inherit;
}
:root {
    --color-text-white: #F5F5F5;
    --color-text-black: #2B2B2B;
    --color-bg-black: #171717;
    --color-bg-light: #D9D9D9;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    /*font-family: "Montserrat", sans-serif;*/
    font-weight: 400px;
    color: var(--color-text-white);
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}

a{
    color: var(--color-text-white);
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1720px;
    margin: 0 auto;
    padding: 0 10px;
    top: 0;
    left: 0;
}

.title {
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 300;
}

/* header */
.header {
    position: absolute;
    width: 100%;  
}

.header__container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 64px 0;
}

.header__nav {
    justify-self: start;
}

.header__menu {
    display: flex;
    gap: 40px;
    text-transform: uppercase;
    font-weight: 300;
    padding-left: 0;
}

.logo {
    justify-self: center;
}

.phone {
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 9px;
    justify-self: end;
}

/* hero-section */

.hero-section {
    padding: 100px 0;
    min-height: 100vh;
    /* background-image: url(../images/hero__bg.jpg); */
    background-image: image-set(
        "../images/hero__bg.webp" type("image/webp"),
        "../images/hero__bg.jpg" type("image/jpeg")
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-section__title {
    text-transform: uppercase;
    font-size: 85px;
    font-weight: 400;
    margin-bottom: 30px;
    padding-top: 100px;
    line-height: 100px;
    max-width: 900px;
}
.hero-section__title span {
    display: block;
}

.hero-section__text {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1.2;
    max-width: 760px;
}

.hero-section__btn {
    display: inline-block;
    text-transform: uppercase;
    padding: 20px 44px;
    font-size: 18px;
    font-weight: 300;
    width: 260px;
    height: 60px;
    background-color: var(--color-text-white);
    color: var(--color-text-black);
}


/* services section */

.services-section {
    padding: 150px 0;
    background-color: var(--color-bg-black);
}

.services-section__title{
    margin-bottom: 60px;
}

.services__list {
    padding-left: 0;
    border-top: 1px solid var(--color-text-white);
}
.services__item {
    padding: 20px 44px 20px 20px; 
    border-bottom: 1px solid var(--color-text-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services__item-title {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 300;
    margin: 0;
}

.services__item-text {
    max-width: 804px;
    width: 100%;
    margin: 0;
}

/* projects section */

.projects-section {
    padding: 150px 0;
}

.projects-section__title {
    color: var(--color-text-black);
    margin-bottom: 50px;
}

.projects__slider{
    overflow: visible;
}

.projects__slider .swiper-wrapper {
    align-items: center;
}

.projects__item {
    padding: 20px;
    border: 1px solid var(--color-bg-light);
    max-width: 560px;
}

.projects__item-img {
    margin-bottom: 40px;
    max-width: 100%;
}

.projects__item-title {
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--color-text-black);
    margin-bottom: 10px;
    line-height: 1.2;
}

.projects__item-descr {
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--color-text-black);
    margin-bottom: 30px;
    line-height: 1.2;
}   

.projects__item-text {
    color: var(--color-text-black);
    margin-bottom: 30px;
    text-transform: uppercase;
}

.projects__item-btn {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    color: var(--color-text-black);
    border: 1px solid var(--color-text-black);
    padding: 20px 73px;
    line-height: 1.2;
}

.projects__arrow {
    cursor: pointer;
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
}

.projects__arrow-left {
    transform: translateX(-75%);
}

.projects__arrow-right {
    transform: translateX(75%);
}

/* levels-section  */
.steps-section {
    padding: 70px 0 100px 0;
    background-color: var(--color-bg-black);
    color: var(--color-text-white);
}

.steps__container {
    display: flex;
    gap: 45px;
}

.steps__content {
    max-width: 568px;
}

.steps-section__title  {
    margin-bottom: 46px;
    margin-top: 0;
    line-height: 49px;
}

.steps__list {
    list-style: none;
    counter-reset: step-counter;
    padding-left: 0;
}

.steps__item {
    counter-increment: step-counter;
    position: relative;
    padding-left: 60px;
}

.steps__item::before {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    content: counter(step-counter);
    border: 1px solid var(--color-text-white);
    width: 40px;
    height: 40px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps__item::after {
    content: '';
    position: absolute;
    left: 20px;
    width: 1px;
    height: 30px;
    background-color: var(--color-text-white);
}


.steps__item-title{ 
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 15px;
    padding-top: 7px;
}

.steps__img {
   position: absolute;
   right: 0;
}

.catalogs-section {
    padding: 150px 0;
    color: var(--color-text-black)
}

.catalogs-section__title{
    color: var(--color-text-black);
    margin-bottom: 60px;
    max-width: 556px;
}

.catalogs-section__container{
    display: flex;
    gap: 50px;
}

.catalogs__form-content{
    display: flex;
    flex-direction: column;
}

.catalogs__form-title {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 300;
    max-width: 617px;
    margin-bottom: 20px;
}

.catalogs__form-text {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    max-width: 430px;
    margin-bottom: 50px;
}

.catalogs__form {
    display: flex;
    flex-direction: column;
}

.catalogs__form-email {
    border: 1px solid var(--color-bg-black);
    margin-bottom: 30px;
    padding: 20px;
    font-size: 24px;
    font-weight: 100;
}

.catalogs__form-checkbox {

}

.catalogs__form-btn {
    color: var(--color-text-white);
    background-color: var(--color-bg-black);
    padding: 20px 40px;
    text-transform: uppercase;
}


