 html {
    box-sizing: border-box;
 }

*,
*::before,
*::after {
    box-sizing: inherit;
}
:root {
    --color-text-white: #F5F5F5;
    --color-text-black: #2B2B2B;
    --color-bg-black: #171717;
    --color-bg-light: #D9D9D9;
    --color-bg-secondary-light: #FFFFFF;
    --bp-mobile: 640px;
    --bp-tablet: 1250px;
    --bp-desktop: 1920px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: var(--color-text-white);
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}

.is-scroll-disabled {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a{
    color: var(--color-text-white);
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1720px;
    margin: 0 auto;
    padding: 0 20px;
    top: 0;
    left: 0;
}

.title {
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 300;
}

/* header */
.header {
    position: absolute;
    width: 100%;  
}

.header__container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 64px 0;
}

.header__nav {
    justify-self: start;
}

.header__menu {
    display: flex;
    gap: 40px;
    text-transform: uppercase;
    font-weight: 300;
    padding-left: 0;
}

.logo {
    justify-self: center;
}

.phone {
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 9px;
    justify-self: end;
}

.monile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    background-color: var(--color-text-black);
    transform: translateX(100%);
    transition: transform 0.3s;
}

.mobile-menu__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 0;
    margin-top: 30px;
}

.mobile-menu__item {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--color-text-black);
}

.menu-btn-close {
    position: absolute;
    right: 24px;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 3;
}

.menu-btn-open {
    display: none;
}

.is-open {
    transform: translateX(0);
}



@media screen and (max-width: 640px) {
    .header__container {
        grid-template-columns: 1fr auto;
        padding: 20px 0;
    }

    .logo {
        justify-self: start;
    }

    .menu-btn-open {
        display: block;
        justify-self: end;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }


    .header__nav,
    .phone  {
        display: none;
    }
    
}

@media screen and (max-width: 1140px) {
    .header__nav,
    .phone  {
        display: none;
    }

    .header__container {
        grid-template-columns: 1fr auto;
        padding: 30px 0;
    }

    .logo {
        justify-self: start;
    }

    .menu-btn-open {
        display: block;
        justify-self: end;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

/* hero-section */
.hero-section {
    padding: 100px 0;
    min-height: 100vh;
    /* background-image: url(../images/hero__bg.jpg); */
    background-image: image-set(
        "../images/hero__bg.webp" type("image/webp"),
        "../images/hero__bg.jpg" type("image/jpeg")
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-section__title {
    text-transform: uppercase;
    font-size: 85px;
    font-weight: 400;
    margin-bottom: 30px;
    padding-top: 100px;
    line-height: 100px;
    max-width: 900px;
}
.hero-section__title span {
    display: block;
}

.hero-section__text {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1.2;
    max-width: 760px;
}

.hero-section__btn {
    display: inline-block;
    text-transform: uppercase;
    padding: 20px 44px;
    font-size: 18px;
    font-weight: 300;
    background-color: var(--color-text-white);
    color: var(--color-text-black);
}

@media screen and (max-width: 1140px) {
    .hero-section__container {
        display: flex;
        flex-direction: column;
        justify-self: center;
    }

    .hero-section__title,
    .hero-section__title span{
        font-size: 60px;
        line-height:60px;
        padding-top: 60px;
        margin-bottom: 20px;
        max-width: 700px;
    }

    .hero-section__title span {
        text-align: center;
    }

    .hero-section__text {
        font-size: 20px;
        margin-bottom: 25px;
        text-align: center;
    }

    .hero-section__btn {
        display: block;
        margin: 0 auto;
        text-transform: uppercase;
        padding: 18px 40px;
        text-align: center;
    }

}

@media screen and (max-width: 684px) {
    .hero-section__container {
        display: flex;
        flex-direction: column;
        justify-self: center;
    }

    .hero-section__title {
        line-height: 40px;
        padding-top: 30px;
        font-size: 40px;
        text-align: center;
    }

    .hero-section__title span{
        font-size: 40px;
        line-height: 40px;
        max-width: 500px;
        text-align: center;
        margin-bottom: 10px;
    }


    .hero-section__text {
        font-size: 18px;
        margin-bottom: 20px;
        text-align: center;
        max-width: 400px;
    }

    .hero-section__btn {
        display: block;
        margin: 0 auto;
        font-size: 16px;
        width: 230px;
        text-transform: uppercase;
        padding: 16px 36px;
        text-align: center;
    }

}


/* services section */
.services-section {
    padding: 150px 0;
    background-color: var(--color-bg-black);
}

.services-section__title{
    margin-bottom: 60px;
}

.services__list {
    padding-left: 0;
    border-top: 1px solid var(--color-text-white);
}

.services__item {
    padding: 20px 44px 20px 20px; 
    border-bottom: 1px solid var(--color-text-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services__item-title {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 300;
    margin: 0;
}

.services__item-text {
    max-width: 804px;
    width: 100%;
    margin: 0;
}

@media screen and (max-width: 1250px) {
    .services__item {
        display: block;
    }
}

@media screen and (max-width: 640px) {
    .services-section {
        padding: 50px 0;
    }

    .services-section__title{
        margin-bottom: 20px;
        line-height: 24px;
    }

    .services__item {
        padding: 20px 0; 
    }

    .services__item-title{
        font-size: 20px;
    }

    .title {
        font-size: 24px;
        margin-bottom: 20px;
    }
}


/* projects section */
.projects-section {
    padding: 150px 0 200px;
}

.projects-section__title {
    color: var(--color-text-black);
    margin-bottom: 50px;
}

.projects__slider{
    overflow: visible;
}

.projects__slider .swiper-wrapper {
    align-items: center;
}

.projects__item {
    padding: 20px;
    border: 1px solid var(--color-bg-light);
    max-width: 560px;
}

.projects__item-img {
    margin-bottom: 40px;
    max-width: 100%;
}

.projects__item-title {
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--color-text-black);
    margin-bottom: 10px;
    line-height: 1.2;
}

.projects__item-descr {
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--color-text-black);
    margin-bottom: 30px;
    line-height: 1.2;
}   

.projects__item-text {
    color: var(--color-text-black);
    margin-bottom: 30px;
    text-transform: uppercase;
}

.projects__item-btn {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    color: var(--color-text-black);
    border: 1px solid var(--color-text-black);
    padding: 20px 73px;
    line-height: 1.2;
}

.projects__arrow {
    cursor: pointer;
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
}

.projects__arrow-left {
    transform: translateX(-75%);
}

.projects__arrow-right {
    transform: translateX(75%);
}

@media screen and (max-width: 640px) {
    .projects-section {
        padding: 50px 0;
    }

    .projects-section__title {
        margin-bottom: 30px;
        line-height: 26px;
        font-size: 24px;
    }

    .projects__item-title {
        font-size: 20px;
    }

    .projects__item-descr {
        font-size: 16px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 370px) {
    .projects__item {
        padding: 10px;
    }  
}

/* levels-section  */
.steps-section {
    padding: 70px 0 100px 0;
    background-color: var(--color-bg-black);
    color: var(--color-text-white);
    display: flex;
}

.steps__content {
    max-width: 568px;
}

.steps-section__title  {
    margin-bottom: 46px;
    line-height: 49px;
}

.steps__list {
    list-style: none;
    counter-reset: step-counter;
    padding-left: 0;
}

.steps__item {
    counter-increment: step-counter;
    position: relative;
    padding-left: 60px;
}

.steps__item::before {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    content: counter(step-counter);
    border: 1px solid var(--color-text-white);
    width: 40px;
    height: 40px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps__item::after {
    content: '';
    position: absolute;
    left: 20px;
    top: 48px;
    bottom: 8px;
    width: 1px;
    background-color: var(--color-text-white);
}

.steps__item:last-child::after {
    display: none;
}

.steps__item-title{ 
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 15px;
    padding-top: 7px;
}

.steps__item-text{ 
    padding-bottom: 40px;
    margin-bottom: 0;
}

.steps__img img {
    width: 100%;
    display: block;

}

@media screen and (max-width: 1250px) {
    .steps-section {
        display: block;
    }

    .steps__img {
        margin-top: 50px;
    }
    
}

@media screen and (max-width: 640px) {
    .steps-section {
        padding: 50px 0;
    }

    .steps__item-title{ 
        font-size: 20px;
    }
}

/* catalogs section */
.catalogs-section {
    padding: 150px 0;
    color: var(--color-text-black)
}

.catalogs-section__title{
    color: var(--color-text-black);
    margin-bottom: 60px;
    max-width: 556px;
}

.catalogs-section__container{
    display: flex;
    gap: 50px;
}

.catalogs__form{
    display: flex;
    flex-direction: column;
    max-width: 550px;
}

.catalogs__pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catalogs__form-title {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 300;
    line-height: 33px;
    margin-bottom: 20px;
}

.catalogs__form-text {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    max-width: 430px;
    margin-bottom: 50px;
}

.catalogs__form-email {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    display: block;
    width: 100%;
    border: 1px solid var(--color-bg-black);
    margin-bottom: 30px;
    padding: 20px;
}

.catalogs__form-email::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
}

.catalogs__form-label {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 50px;
}

.catalogs__form-label-text {
    font-size: 14px;
    font-weight: 300;
}

.catalogs__form-label-text a{
    text-decoration: underline;
    color: var(--color-text-black)
}

.catalogs__form-checkbox{
    width: 17px;
    height: 17px;
    accent-color: var(--color-text-black);
}

.catalogs__form-btn {
    display: inline-block;
    padding: 20px 40px;
    color: var(--color-text-white);
    font-size: 18px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    line-height: 21px;
    background-color: var(--color-bg-black);
    text-transform: uppercase;
    margin-bottom: 28px;
    max-width: 260px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    .catalogs-section {
        padding: 50px 0;
    }

    .catalogs-section__container{
        display: block;
    }

    .catalogs__form{
        margin-bottom: 50px;
    }

    .catalogs__form-title {
        font-size: 20px;
    }

    .catalogs__form-label {
        align-items: flex-start;
    }
}

/* gallery section */
.gallery-section{
    padding: 0 0 150px;
}

.gallery__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.gallery__container img {
    max-width: 100%;
}

@media screen and (max-width: 640px) {
    .gallery-section {
        padding: 50px 0;
    }

    .gallery__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 375px) {
    .gallery__container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* contact section */
.contact-section {
    margin-bottom: 150px;
}

.contact-section__container {
    padding: 184px 0;
    background-image: image-set(
        "../images/form-bg.webp" type("image/webp"),
        "../images/form-bg.jpg" type("image/jpeg")
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contact-section__overlay {
    display: flex;
    margin: 0 auto;
    align-items: center;
    max-width: 1000px;
    min-height: 364px;
    background-color: rgba(0, 0, 0, 0.75);
}

.contact-section__content{
    padding: 75px 118px;
}

.contact-section__title{
    margin-bottom: 55px;
    max-width: 765px;
}

.contact-section__form {
    display: flex;
    gap: 0;
}

.contact-section__form input {
    font-family: 'Roboto', sans-serif;
    color: var(--color-text-black);
    background-color: var(--color-bg-light);
    width: 500px;
    border: none;
    padding: 20px;
    font-size: 18px;
    font-weight: 100;
}

.contact-section__form input::placeholder {
    font-family: 'Roboto', sans-serif;
    color: var(--color-text-black);
    font-size: 18px;
    font-weight: 100;
}

.form-btn {
    display: inline-block;
    padding: 20px 46px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    border: none;
    color: var(--color-text-black);
    background-color: var(--color-bg-secondary-light);
    cursor: pointer;
} 

@media screen and (max-width: 1250px) {
    .contact-section__overlay {
        max-width: 900px;
        min-height: auto;
    }

    .contact-section__content{
        padding: 50px 80px;
    }

    .contact-section__title{
        margin-bottom: 30px;
    }

    .contact-section__form input {
        margin-bottom: 20px;
    }

    .form-btn {
        height: 61px;
        font-size: 16px;
        padding: 20px 30px;
     }
    
}

@media screen and (max-width: 640px) {
    .contact-section__container {
        padding: 50px 0;
    }

    .contact-section__content{
        padding: 30px 50px;
    }

    .contact-section__overlay {
        max-width: 600px;
        min-height: auto;
    }

    .contact-section__form input {
        width: 100%;
        margin-bottom: 20px;
    }

    .form-btn {
       height: 61px;
       font-size: 16px;
       padding: 10px 20px;
    }

}

@media screen and (max-width: 375px) {
    .contact-section__form {
        flex-direction: column;
    }

    .contact-section__form input {
        width: 100%;
        margin-bottom: 20px;
    }

    .contact-section__overlay {
        max-width: 300px;
        min-height: auto;
    }
}

/* footer section */
.footer {
    padding: 100px 0 120px;
    background-color: var(--color-bg-black);
}

.footer__container {
    display: flex;
    gap: 345px;
}

.logo-big {
    margin-bottom: 10px;
}

.footer__content {
    display: flex;
    gap: 100px;
}

.footer__copyright {
    font-weight: 300;
    font-size: 14px;
}

.footer__nav-menu {
    padding: 0;
    margin: 0;
}

.menu__item {
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.footer__services-list {
    margin: 0;
}

.footer__services-item {
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.footer__socials {
    padding: 0;
    margin: 0;
}

.socials__item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 15px;
    font-style: normal;
}

.footer__address-list {
    padding: 0;
    margin: 0;
}

.footer__address-link {
    display: flex;
    align-items: center;
    gap: 7px;
    font-style: normal;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 21px;
}

.address-icon {
    align-self: flex-start;
}

.footer__address-list li:last-child {
    padding-left: 20px;
}

.footer__services {
    padding: 0;
    margin: 0;
}

.footer__address-span {
    display: inline-block;
    max-width: 125px;
}

.footer__address {
    display: flex;
    gap: 100px;
}

@media screen and (max-width: 1250px) {
    .footer__container {
        gap: 75px;
    }

    .footer__content {
        gap: 50px;
    }

    .footer__services-list {
        padding: 0;
    }

    .footer__address {
        gap: 50px;
    }
}

@media screen and (max-width: 640px) {
    .footer {
        padding: 50px 0 120px;
    }
    .footer__container,
    .footer__content,
    .footer__address {
        flex-direction: column;
        justify-self: center;
    }

    .footer__nav-menu,
    .footer__services-list,
    .footer__socials,
    .footer__address-list {
        justify-items: center;
    }

}
