 html {
    box-sizing: border-box;
 }

*,
*::before,
*::after {
    box-sizing: inherit;
}
:root {
    --color-text-white: #F5F5F5;
    --color-text-black: #2B2B2B;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    /*font-family: "Montserrat", sans-serif;*/
    font-weight: 400px;
    color: var(--color-text-white);
    font-size: 16px;
    line-height: 1.5;
}


a{
    color: var(--color-text-white);
    text-decoration: none;
}

.container {
    max-width: 1720px;
    margin: 0 auto;
    padding: 0 10px;
    top: 0;
    left: 0;
}

.header {
    position: absolute;
    width: 100%;  
}

.header__container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 64px 0;
}

.header__nav {
    justify-self: start;
}

.header__menu {
    display: flex;
    gap: 40px;
    text-transform: uppercase;
    list-style: none;
    font-weight: 300;
}

.logo {
    justify-self: center;
}

.phone {
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 9px;
    justify-self: end;
}

.hero-section {
    padding: 100px 0;
    min-height: 100vh;
    background-image: url(../images/hero__bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-section__title {
    text-transform: uppercase;
    font-size: 85px;
    font-weight: 400;
    margin-bottom: 30px;
    padding-top: 100px;
    line-height: 100px;
    max-width: 900px;
}
.hero-section__title span {
    display: block;
}

.hero-section__text {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1.2;
    max-width: 760px;
}

.hero-section__btn {
    text-transform: uppercase;
    padding: 20px 44px;
    font-size: 18px;
    font-weight: 300;
    width: 260px;
    height: 60px;
    background-color: var(--color-text-white);
    color: var(--color-text-black);
    display: inline-block;
}

